.tool-titr{
    color:crimson;
    font-family:shabnam;
    font-size:20px;
    margin-top:20px;
}
@font-face {
    font-family:shabnam;
    src: url('shabnam-font-v2.4.0/Shabnam.eot');
    src: url('shabnam-font-v2.4.0/Shabnam.eot?#iefix') format('FontName-opentype'),
         url('shabnam-font-v2.4.0/Shabnam.woff') format('woff'),
         url('shabnam-font-v2.4.0/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }